# Ignore everything
*

# Except these files...
!.gitignore
!readme.md
!makefile.self
!CMakeLists.txt
!package.json
!src
!test/
!test/**
!test/eos/
!main.abi
!src/eosio.token.cpp
!src/eosio.token.hpp
!abi/main.abi
!./abi/main.abi