# Ignore everything
*

# Except these files...
!.gitignore
!readme.md
!makefile.self
!CMakeLists.txt
!package.json
!src
!src/
!src/**
!test/
!test/**
!test/eos/
!src/eosio.token.cpp
!src/eosio.token.hpp
!abi
!abi/main.abi
!eos.dockerfile
!docker-compose.yml
!clear.sh
!rebuild.sh
